<div class="commonForm">
  <h1>Sign Up</h1>
  <%= form_with(model: @user, method: :post) do |form| %>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email, autocomplete: 'off'%> 
    </div>
    <br/>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password, autocomplete: 'off'%>
    </div>
    <br/>
    <%= form.submit 'Sign Up' %>
    <%= link_to 'Login', login_path, class: "button" %>
  <% end %>
</div>