<div class="commonForm">
  <h1>Log In</h1>
  <%= form_with(model: @user , method: :post ) do |form| %>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>
    <br/>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <p class="message"><%= @hello %></p>
    <%= form.submit 'Login' %>
    <%= link_to 'Sign Up', root_path, class: "button" %>
  <% end %>
</div>