

<div class="commonForm">
  <h1>Log In</h1>
  <%= form_tag('/sign_in', method: :get ) do %>
    <div>
      <%= label_tag :email %>
      <%= email_field_tag :email %>
    </div>
    <br/>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <p class="message"><%= @hello %></p>
    <%= submit_tag 'Login' %>
    <%= link_to 'Sign Up', root_path, class: "button" %>
  <% end %>
</div>
